{{!< default}}
<div class="intro-wrapper">
	<div class="intro-photo"></div>
	<div class="intro-text">
		sweet homes for happy families
	</div>
	<div class="intro-scroll-down">
		Start a better life	
	</div>
</div>
