{{!< default}}
<div class="intro-wrapper">
	<div class="intro-photo"></div>
	<div class="intro-text">
		sweet homes for happy families
	</div>
	<div class="intro-scroll-down">
		Start a better life	
	</div>
</div>
<div class="features container">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
			<div class="feature">
				<div class="feature-text"> 
					<h1>10000 sqft</h1>
					<p>Constructed</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
			<div class="feature">
				<div class="feature-text"> 
					<h1>3000+</h1>
					<p>Happy Families</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
			<div class="feature">
				<div class="feature-text"> 
					<h1>6 yrs</h1>
					<p>Experience</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
			<div class="feature">
				<div class="feature-text"> 
					<h1>Santiniketan</h1>
					<p>surrounded by nature</p>
				</div>
			</div>
		</div>
	</div>
</div>
