.footer {
	color: #777777;
	background: black;
	height: 110px;
	line-height: 110px;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.features{
	padding-top: 50px;
	background: #f8f8f8;
	padding-bottom: 50px;
	border-bottom: 1px solid #ddd;
}

.feature {
    background: url('/images/bg_figure.png');
    width: 194px;
    margin: 20px auto;
    height: 223px;
    background-position: center;
    background-size: cover;
    padding: 10px;
    position: relative;
	@media (max-width: 450px) {
		width: 135px;
		height: 155px;
		font-size: 0.6em;
		h1 {
			font-size: 1em;
		}
	}
}

.feature-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-family: Advent Pro;
	font-size: 2em;
	font-weight: bold;
	p {
		color: #a1a1a1;
		font-weight: lighter;
		font-size: 0.6em;
	}
	text-align: center;
}


// Project showcases
.segment-header {
    text-align: center;
    font-family: Advent Pro;
    font-size: 3em;
}

.big-image {
    background: transparent url("https://s-media-cache-ak0.pinimg.com/564x/e0/2b/3f/e02b3f67d12ad875f2965d4141892e24.jpg") repeat scroll center center / cover;
    height: 585px;
}

.huge-image {
    background: transparent url("https://s-media-cache-ak0.pinimg.com/564x/e0/2b/3f/e02b3f67d12ad875f2965d4141892e24.jpg") repeat scroll center center / cover;
    height: 585px;
    background-size: cover;
}

.small-image {
    background: transparent url("https://s-media-cache-ak0.pinimg.com/564x/e0/2b/3f/e02b3f67d12ad875f2965d4141892e24.jpg") repeat scroll 0% 0% / cover;
    height: 292.5px;
    line-height: 292.5px;
    font-family: Advent Pro;
    font-size: 2.5em;
    color: white;
    text-align: center;

}

.black {
    background: black none repeat scroll 0% 0%;
    height: 292.5px;
    font-family: Advent Pro;
    font-size: 2.5em;
    color: white;
    text-align: center;
	line-height: 292.5px;
}
.black-text {
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}
.proj-name {
	font-size: 2em;
}

.yellow-button {
    display: inline-block;
    color: yellow;
    border: 1px solid;
    font-size: 0.7em;
    padding: 10px;
    margin: 10px;
}

.current-project {
	background-color: #f1f1f1;
}

.previous-projects {
	background-color: #f8f8f8;
	text-align: center;
	padding-top: 60px;
	.segment-header {
		text-align: center;
		font-family: Advent Pro;
		font-size: 3em;
		display: inline-block;
		border-bottom: 1px solid #ddd;
		padding-bottom: 30px;
	}
}

.segment-desc {
	font-size: 1.5em;
	font-family: Roboto Slab;
	font-weight: lighter;
	padding: 50px;
}

.bookings {
	padding: 60px 30px;
	background: #f8f8f8;
	font-family: Advent Pro;
	.segment-header {
		margin-bottom: 60px;
	}
}

.contact {
	padding: 0;
	font-family: Advent Pro;
	text-align: center;
}

.form-control {
	border-radius: 0;
}